<!doctype html>
<html>

  <head>
    <title>admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/themes/flat-ui/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="https://app.divshot.com/themes/flat-ui/flat-ui.css">
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container"></div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <ul class="nav  nav-pills nav-stacked">
            <li>
              <a href="#">Dashboard</a>
            </li>
            <li class="active">
              <a href="#">Buzz Mentions</a>
            </li>
            <li>
              <a href="#">Buzz Posts</a>
            </li>
            <li>
              <a href="#">Restaurants</a>
            </li>
          </ul>
        </div>
        <div class="span10">
          <div class="row-fluid">
            <div class="list-content">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#">New York</a>
                </li>
                <li>
                  <a href="#">San Francisco</a>
                </li>
                <li>
                  <a href="#">Los Angeles</a>
                </li>
                <li>
                  <a href="#">All</a>
                </li>
              </ul>
              <table class="table table-striped table-hover table-bordered table-condensed">
                <thead>
                  <tr>
                    <th>Restaurant</th>
                    <th>Blurb</th>
                    <th>Source</th>
                    <th>Created At</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>JoJo's Cafeteria</td>
                    <td>At OddFellows, Mason and company are scooping out a rotating list of eight
                      to 10 flavors, ranging from the normal ones like chocolate and strawberry
                      to crazier flavors like chorizo caramel and cornbread.</td>
                    <td>Eater NY</td>
                    <td>June 5, 2013 / 5:04am</td>
                    <td>Ignore Show Destroy</td>
                  </tr>
                  <tr>
                    <td>JoJo's Cafeteria</td>
                    <td>At OddFellows, Mason and company are scooping out a rotating list of eight
                      to 10 flavors, ranging from the normal ones like chocolate and strawberry
                      to crazier flavors like chorizo caramel and cornbread.</td>
                    <td>Eater NY</td>
                    <td>June 5, 2013 / 5:04am</td>
                    <td>Ignore Show Destroy</td>
                  </tr>
                  <tr>
                    <td>JoJo's Cafeteria</td>
                    <td>At OddFellows, Mason and company are scooping out a rotating list of eight
                      to 10 flavors, ranging from the normal ones like chocolate and strawberry
                      to crazier flavors like chorizo caramel and cornbread.</td>
                    <td>Eater NY</td>
                    <td>June 5, 2013 / 5:04am</td>
                    <td>Ignore Show Destroy</td>
                  </tr>
                  <tr>
                    <td>JoJo's Cafeteria</td>
                    <td>At OddFellows, Mason and company are scooping out a rotating list of eight
                      to 10 flavors, ranging from the normal ones like chocolate and strawberry
                      to crazier flavors like chorizo caramel and cornbread.</td>
                    <td>Eater NY</td>
                    <td>June 5, 2013 / 5:04am</td>
                    <td>Ignore Show Destroy</td>
                  </tr>
                  <tr>
                    <td>JoJo's Cafeteria</td>
                    <td>At OddFellows, Mason and company are scooping out a rotating list of eight
                      to 10 flavors, ranging from the normal ones like chocolate and strawberry
                      to crazier flavors like chorizo caramel and cornbread.</td>
                    <td>Eater NY</td>
                    <td>June 5, 2013 / 5:04am</td>
                    <td>Ignore Show Destroy</td>
                  </tr>
                  <tr>
                    <td>JoJo's Cafeteria</td>
                    <td>Monday Opening Report: Charlie Bird, Goodfella's Gramercy, and More Now
                      Open Monday Opening Report: Charlie Bird, Goodfella's Gramercy, and More
                      Now Open.</td>
                    <td>Eater NY</td>
                    <td>June 5, 2013 / 5:04am</td>
                    <td>Ignore Show Destroy</td>
                  </tr>
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
