<div class="container-fluid">
  <div class="row-fluid">
    <div id="nav-region" class="span2"></div>
    <div id="main-region" class="span10"></div>
</div>
<div id="dialog-region"></div>

<%= javascript_tag do %>
  $(function() {
    Admin.start();
    });
<% end %>
