
.ignore_true {
  text-decoration: line-through;
}

td.buzz_mentions_score, td.buzz_mentions_count, th.buzz_mentions_score, th.buzz_mentions_count{
  text-align: center;
}

.main-body {
  margin-top: 35px;
}

#new-restaurant {
  margin-bottom: 20px;
}
